.label {
    -fx-text-fill: -main-font-color;
}

.name {
    -fx-font-weight: bold;
    -fx-underline: true;
}

.button {
    -fx-text-fill: -main-font-color;
    -fx-background-color: -button-fill;
}

.button:hover {
    -fx-background-color: derive(-button-fill, 20%);
}

.button:armed {
    -fx-background-color: derive(-button-fill, -20%);
}

#alertMessageContainer {
    -fx-background-color: derive(-main-background-color, 20%);
}
