#copyButton, #helpMessage {
    -fx-text-fill: -main-font-color;
}

#copyButton {
    -fx-background-color: -button-fill;
}

#copyButton:hover {
    -fx-background-color: derive(-button-fill, 20%);
}

#copyButton:armed {
    -fx-background-color: derive(-button-fill, -20%);
}

#helpMessageContainer {
    -fx-background-color: derive(-main-background-color, 20%);
}
