.root {
    -main-background-color: #DCCBA7;
    -secondary-background-color: #D2A153;
    -border-color: #4A3C28;
    -main-font-color: #433D31;
    -detail-font-color: #807662;
    -contact-reference-fill: #0E0E72;
    -card-title-fill: #E9DFB9;
    -card-fill: #E7E2C7;
    -card-selected: #B6CDBE;
    -status-bar-fill: #C8B289;
    -note-cell-fill: #B7A478;
    -button-fill: #E4BC80;
    -highlight: #6BACB1;
    -warning: #F95B39;
}
