#reminderMessage {
    -fx-text-fill: -main-font-color;
}

.label {
    -fx-text-fill: -main-font-color;
}

.name {
    -fx-font-weight: bold;
    -fx-underline: true;
}

#reminderMessageContainer {
    -fx-background-color: derive(-main-background-color, 20%);
}
